<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="/header.html :: head"></div>
<body>
<div class="container-fluid min-vh-100 d-flex justify-content-center align-content-center align-items-center">
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center flex-column">
            <h1>Welcome to Pacyorky!</h1>
            <h2>Start to join us, it's free and take 2 minutes</h2>
            <a class="btn btn-primary" href="/join/second-step">Start!</a>
        </div>
    </div>
</div>

</body>
</html>