<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="/header.html :: head"></div>
<body>
<div class="container-fluid min-vh-100 d-flex justify-content-center align-content-center align-items-center">
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center flex-column">
            <h1>Please install application to you group:</h1>
            <p>some instructions</p>
            <h2>Please install application to you page and give all permissions</h2>
            <a class="btn btn-primary" href="https://www.facebook.com/v7.0/dialog/oauth?client_id=3559197890788331&redirect_uri=https://pacyorky.ee:3000/join/third-step&response_type=token">Join!</a>
        </div>
    </div>
</div>

</body>
</html>