<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="/header.html :: head"></div>
<body>
<div class="container-fluid min-vh-100 d-flex justify-content-center align-content-center align-items-center">
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center flex-column">
            <h1>Please enter you id in app:</h1>
            <form action="/join/four-step" method="post">
                <div class="form-group">
                    <label for="id" > Id</label>
                    <input type="text" class="form-control" name="id" id="id">
                </div>
                <div class="form-group">
                    <label for="groupId">Choose You group:</label>
                    <select class="form-control" id="groupId" name="groupId">
                       <option th:each="group : ${groups}" th:value="${group.getId()}" th:text="${group.getName()}"></option>
                    </select>
                </div>
                <div class="form-group invisible">
                    <input type="text" class="form-control" name="link" id="link">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function(){
        let link = document.getElementById('link');
        link.value=window.location.href;
    });
</script>
</body>
</html>